@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --primary-color: #fff6e9;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #fefbf6;
  --max-width: 1200px;
  --min-width: 1450px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff6e9;
  z-index: 99;
}

section {
  padding-top: 4.5rem;
}

.nav__content {
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}
nav .logo a span {
  color: var(--secondary-color);
}
nav .logo a:hover {
  color: var(--secondary-color);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

.active {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  margin-bottom: -10px;
}

.section__container {
  min-height: 100vh;
  max-width: var(--min-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.social-media {
  margin: 5px 0 10px 0;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: transparent;
  border: 0.2rem solid #ca8a04;
  font-size: 1.4rem;
  color: #6b7280;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: #ca8a04;
  color: var(--extra-light);
  transform: scale(1.1);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

.subtitle {
  letter-spacing: 10px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.title span .UI {
  color: #ca8a04;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.action__btns {
  display: flex;
  gap: 1rem;
  transition: 0.5s ease;
}

.action__btns button {
  background-color: transparent;
  border: 0;
  padding: 14px 2px 14px 65px;
  position: relative;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 13px;
  margin-left: -255px;
  cursor: pointer;
  text-shadow: 3px 2px 2px #fefbf6;
}

.action__btns:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.portfolio a {
  text-decoration: none;
  color: #6b7280;
  transition: 0.5s ease;
}
.portfolio a:hover {
  color: #fefbf6;
}

.image {
  display: grid;
  place-items: center;
  z-index: 5;
}

.img1{
  display: block;
  position: absolute;
  right: 0;
  z-index: 0;
  top: 0;
  margin-top: 10%;
}

.img1 img{
  width: 30vh;
}

.img2{
  position: absolute;
  left: 0;
  top: 0;
  
}

.img2 img{
  width: 35vh;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  transition: 1s;
}

.image img:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(0.22);
}

.action {
  position: relative; 
  width: 100%; 
  height: 100vh; 
  overflow: hidden; 
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.container img {
  max-width: 100%; 
  height: auto; 
  border-radius: 40%;
}

.sun{
  position: absolute;
  top: -20%;
  left: 74%;
  z-index: 1;
}


.circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  clip-path:  polygon(0% 100%, 25% 80%, 50% 100%, 75% 80%, 100% 100%, 100% 0%, 0% 0%);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #fff6e9;
  margin-bottom: -50px;
  position: relative;
  margin-top: -10px;
}

.about .about-content{
  margin-top: -10px;
}

.about-img1{
  position: absolute;
  display: flex;
  justify-content: start;
  z-index: 2;
  left: 0;
}

.about-img1 img{
  width: 45vh;
}

.about-img{
  z-index: 5;
}

.about-img img {
  width: 30vw;
  height: 100%;
  margin: 0 0 50px;
  transition: 0.5s ease;
}

.about .about-content .heading{
  margin: 5rem 0 5rem -10%;
}

.about-img img:hover {
  cursor: pointer;
  transform: scale(1.22);
}

.about .about-content{
  z-index: 5;
}

.about .about-content a {
  text-decoration: none;
  font-size: 13px;
  color: #0f1035;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

.about-content a::after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #0f1035;
  position: absolute;
  top: 9px;
  right: -60px;
}

.about-content a:hover {
  color: #ca8a04;
}

.about-content a:hover::after {
  background-color: #ca8a04;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
}

.heading span {
  color: #ca8a04;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 1.5rem;
  color: #1f2937;
}

.about-content p {
  font-size: 1rem;
  margin: 2rem 0 3rem;
  color: #6b7280;
}


.proyek h2 {
  margin-bottom: 5rem;
}

.proyek-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 50px;
  margin-right: 50px;
}

.proyek-container .proyek-box {
  flex: 1 1 20rem;
  background: var(--primary-color);
  padding: 2rem 1rem 3rem 1rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
}

.proyek-container .proyek-box:hover {
  border-color: #ca8a04;
  transform: scale(1.02);
}

.proyek .proyek-container .proyek-box a {
  text-decoration: none;
  font-size: 13px;
  color: #0f1035;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
  right: 30px;
}

.proyek .proyek-container .proyek-box a::after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #0f1035;
  position: absolute;
  top: 9px;
  right: -60px;
}

.proyek .proyek-container .proyek-box a:hover {
  color: #ca8a04;
}

.proyek .proyek-container .proyek-box a:hover::after {
  background-color: #ca8a04;
}

.proyek-box i {
  font-size: 3rem;
  color: #ca8a04;
}

.proyek-box h3 {
  font-size: 1.5rem;
}

.proyek-box p {
  font-size: 1rem;
  margin: 1rem 0 3rem;
}

.portofolio {
  background: var(--primary-color);
  padding-bottom: 100px;
  margin-top: -5%;
}

.portofolio h2 {
  margin-bottom: 4rem;
}

.portofolio-container {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;
  margin: 0 25px 0 25px;
}

.portofolio-container .portofolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: flex;
}

.portofolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portofolio-box:hover img {
  transform: scale(1.1);
}

.portofolio-box .portofolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--secondary-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 3rem;
  color: #fff;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portofolio-box:hover .portofolio-layer {
  transform: translateY(0);
}

.portofolio-layer h4 {
  font-size: 1.5rem;
}

.portofolio-layer p {
  font-size: 0.8rem;
  margin: 0.3rem 0 1rem;
}

.portofolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 50%;
}

.portofolio-layer a i {
  font-size: 1.3rem;
  color: #0f1035;
}


.contact h2 {
  margin-bottom: 2rem;
}

.contact form {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 2rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-dark);
  background: var(--primary-color);
  border-radius: 0.4rem;
  margin: 0.5rem 0;
  border: none;
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  padding: 15px 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--extra-light);
  border-radius: 4px;
  cursor: pointer;
  color: #6b7280;
  position: relative;
  transition: 0.5s ease;
  &:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    left: 0;
    top: 0;
    transform: translate(2px, 2px);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &:hover {
    background-color: var(--primary-color);
    color: #fff;
    left: 1px;
    top: 1px;
    &:after {
      transform: translate(1px, 1px), scale(1.02);
    }
  }
  &:active {
    background-color: var(--secondary-color);
    left: 2px;
    top: 2px;
    &:after {
      transform: translate(0px, 0px);
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 5%;
  background: var(--primary-color);
}

.footer-text {
  font-size: 1rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--extra-light);
  border-radius: 0.5rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.footer-iconTop a i {
  font-size: 1.4rem;
  color: var(--text-dark);
}

@media (width < 750px) {
  nav .checkbox {
    display: grid;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .portofolio-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .about-img1{
    display: none;
  }

  .img1{
    width: 15vh;
    left: 0;
  }

  .action__btns {
    margin: 5px 20% 5px;
  }
}

@media (width < 600px){
  .portofolio-container {
    grid-template-columns: 1;
  }
  .footer{
    flex-direction: column-reverse;
  }
}

/* Mobile phone */
@media (max-width: 498px) {
  .nav__content {
    padding: 25px;
  }
  html {
    font-size: 70%;
  }
  p{
    font-size: 1.2rem;
  }
  .section__container {
    min-height: 1;
  }
  .action {
    position: relative; /* Parent relative positioning */
    width: 100%; /* Full width */
    height: 100vh; /* Full viewport height or adjust as necessary */
    overflow: hidden; /* Keeps child elements contained */
    clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
  }
  .image {
    height: fit-content;
    top: -10%;
  }
  .image img {
    width: 40vh;
  }
  .section__container {
    height: 10vh;
    margin-top: -25%;
  
  }
  
  nav .checkbox {
    margin-right: 15px;
  }
  nav .logo a {
    margin-left: 15px;
  }
  .about {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
  .about img {
    height: max-content;
    width: 70vw;
  }
  .about-img1{
    display: inline;
    top: 45%;
  }
  .social-media a{
    font-size: 1.8rem;
  }
  .img1 img{
    position: absolute;
    width: 10vh;
    left: 220%;
    margin-top: 40%;
  }
  .about .about-content {
    text-align: center;
  }
  .about .about-content a {
    margin-left: -10%;
  }
  .portofolio{
   padding: 15px 25px 15px 25px;
  }
  .portofolio h2 {
    margin-bottom: 3rem;
    padding: 4rem;
  }
  .portofolio-container {
    grid-template-columns: 1fr;
    margin: 0;
  }
  form{
    width: 90%;
  }
  .contact form .input-box input,
  textarea {
    width: 100%;
    font-size: 15px;
  }
  .contact form textarea{
    font-size: 15px;
  }
  .footer{
    flex-direction: column-reverse;
  }
}
